@font-face {
    font-family: Geist;
    src: url(assets/GeistVariableVF.woff2);
}

@font-face {
    font-family: Afacad;
    src: url(assets/Afacad-VariableFont_wght.ttf);
}

@font-face {
    font-family: Afacad;
    src: url(assets/Afacad-Italic-VariableFont_wght.ttf);
    font-style: italic;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Geist, sans-serif;
    font-weight: 400;
}

#moviedar {
    font-family: Afacad;
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: 5px;
}

/* We reset button styling */
button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

:root {
    --border-color-dark: hsla(0, 0%, 0%, 0.33);
    --border-color-light: hsla(0, 0%, 100%, 0.233);
    --border: 2px solid var(--border-color-dark);
    --border-light: 2px solid var(--border-color-light);
    --border-primary: 2px solid var(--primary);
    --bg: hsl(0, 0%, 10%);
    --bg2: hsl(0, 0%, 20%);
    --primary: hsl(219, 61%, 45%);
    --secondary: hsl(219, 51%, 30%);
    --transparent: hsla(0, 0%, 0%, 0.575);
    --fg: white;
    --fg-inverse: rgb(0, 0, 0);
    --watched: hsl(150, 59%, 17%);
    --start: hsl(244, 52%, 30%);
    --end: hsl(41, 62%, 35%);
}

.watched {
    background-color: var(--watched) !important;
}

.button {
    margin: 10px;
    padding: 5px;
    background-color: var(--bg);
    color: var(--fg);
    cursor: pointer;
}

time#actual-day {
    display: inline-block;
    width: 250px;
}

#calendar {
    --primary: hsl(330, 62%, 58%);
    --secondary: hsl(216, 83%, 36%);
}

body {
    background-image: url(assets/tile.webp), linear-gradient(rgba(0, 0, 0, 0.719), rgba(255, 255, 255, 0));
    background-repeat: repeat;
    min-height: 100vh;
    color: var(--fg);
}

.inverse {
    color: var(--fg-inverse);
}

.framed {
    border-top: var(--border-light);
    border-left: var(--border-light);
    border-bottom: var(--border);
    border-right: var(--border);
    border-radius: 20px;
}

.bordered {
    border: var(--border-light);
    border-color: rgba(255, 255, 255, 0.096);
    border-radius: 20px;
}

.title {
    margin: 10px;
}

.background-tint {
    background-color: var(--primary);
    background-blend-mode: overlay;
}

li::marker {
    content: '';
}

nav {
    margin-top: 0;
    background-color: var(--transparent);
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

strong {
    font-weight: 700;
}

nav h1 {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--transparent);
    backdrop-filter: blur(5px);
    overflow: hi;
    margin-bottom: 10px;
}

article#calendar {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    float: left;
    overflow: hidden;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg);
    margin: 0;
}

.weekdays abbr {
    display: flex;
    height: 50px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.days {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 60px);
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-rows: 60px;
    overflow: hidden;
    padding: 0 20px 20px 20px;
}

.shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 10px 10px 5px rgba(0, 0, 0, 0.2), 15px 15px 5px rgba(0, 0, 0, 0.3);
}

#calendar time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
    cursor: pointer;
    transition: all .3 ease;
    user-select: none;
}

#calendar time.actual {
    background-color: var(--primary);
    font-weight: bold;
}

#calendar time:empty {
    filter: brightness(0.8) grayscale(0.4);
}

.popup-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    z-index: 2;
    padding: 20px;
    min-width: 80vw;
}

#nav-popup {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    padding: 0 10px;
    top: 50px;
    background-color: var(--bg);
}

#nav-popup a {
    margin-bottom: 20px;
}

.header {
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: none;
    font-weight: 600;
}

h1#h_movies {
    font-weight: 800;
}

article {
    margin: 10px;
}

.movie {
    background-color: var(--bg);
    padding: 10px;
    margin: 10px;
}

.movie h2 {
    font-weight: 800;
}

.movies {
    width: 80%;
    max-width: 80vw;
}

time,
a,
button,
#character {
    transition: all 300ms ease-in-out;
}

time:hover,
a:hover,
button:hover {
    filter:brightness(125%);
}


.hidden {
    display: none;
}

.img {
    height: 643px;
    width: auto;
}

#labyrinth-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
}

.grid-cell {
    background-color: var(--secondary);
    border: 2px solid var(--border-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, 33%);
}

.start-cell {
    background-color: var(--start);
}

.end-cell {
    background-color: var(--end);
}

.blocked {
    filter: brightness(0.3);
}

#character {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

input {
    background-color: unset;
    border: unset;
    padding: 0 10px;
    margin: 0;
    font-size: unset;
    color: unset;
    outline: none;
    width: 100%;
    background-color: var(--bg2);
    border-radius: 20px;
    height: 45px;
    transition: all .3s ease;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    margin: 10px 0;
}

input:focus {
    border: unset;
    outline: unset;
    border-width: 2px;
    border-style: solid;
    background-color: var(--bg);
    border-color: var(--primary);
}

input:hover {
    background-color: var(--bg);
    border-color: var(--primary);
}

#login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-label {
    display: flex;
    font-weight: 700;
    width: 100px;
    align-self: center;
    justify-content: center;
    padding: 0 30px;
}

.form-group-input {
    position: relative;
}

.form-group {
    display: flex;
}

#signup-form-button {
    background-color: var(--primary);
    border-radius: 15px;
    padding: 9px;
}

#signup-form-button strong {
    font-family: Afacad;
}

#login-form-button strong {
    font-family: Afacad;
}


#div-logup {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}

#hamb-menu-button {
    font-weight: 900;
    font-size: 24px;
    user-select: none;
    margin-right: 10px;
}

#hamb-menu-content {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    position: absolute;
    right: 10px;
    width: 400px;
    top: 75px;
    background-color: var(--transparent);
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 9999;
    row-gap: 15px;

}

#movie-info {
    background-color: var(--transparent);
    backdrop-filter: blur(5px);
}

#h_movies {
    font-family: Afacad;
    font-size: 30px;
}

a {
    cursor: pointer;
}

.div-horizontal {
    display: flex;
    column-gap: 20px;
}

input[type="submit"] {
    background-color: var(--secondary);
}

input[type="reset"] {
    background-color: var(--end);
}

input[type="reset"]:hover {
    border-color: hsla(36, 78%, 49%, 0.863);
}

input[type="submit"].cancel {
    background-color: hsl(0, 59%, 41%);
}

input[type="submit"].cancel:hover {
    border-color: hsl(0, 100%, 66%);
    background-color: hsl(0, 67%, 28%);
}

div.movie {
    width: auto;
}